#jumboBGRND {

    background-color: rgb(0, 0, 0);
    font: white;
    
}

.helloSize {

    font-size: 48px;
    color: white;
}

.questionTypeface {

    /* font-family: 'Major Mono Display', monospace; */
    /* font-family: 'Monoton', cursive; */
    /* font-family: 'Fascinate', cursive; */
    /* font-family: 'Montserrat Alternates', sans-serif; */
    font-family: 'Montserrat', sans-serif;
    font-size: 69px;
    /* font-weight: bold; */

}

.majorMonoTLDR {

    font-family: 'Major Mono Display', monospace;
    font-size: 120px;

}


p {

    /* font-family: 'Roboto Slab', serif; */
    font-family: 'Work Sans', sans-serif;

}

.centered {

    text-align: center !important;

}

.alignRight {

    text-align: right !important;
}

.tasty {

    color: #F80F70;

}

.response {

    color: white;

}

.fa:hover {

    transition: all 0.25s ease-in-out !important;
    color: rgb(5, 5, 5) !important;
    text-shadow: -1px 0 #F80F70, 0 1px #F80F70, 1px 0 #F80F70, 0 -1px #F80F70;
}

.spacedOut {

    letter-spacing: 10px;
    font-weight: bold;

}